<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><br></p>
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width: 467.2pt; border-collapse: collapse;">
    <tbody>
        <tr>
            <td style="width: 467.2pt; border: solid black 1.0pt; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Component name: <span style="color: black;">Accordions</span></em></p>
            </td>
        </tr>
        <tr>
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Headline (required)- Character limit is 60</span></p>
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Sub header (optional)- Character limit is 90</span></p>
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Panel Content (required, use 1 or more times)</span></p>
                <ul style="margin-bottom: 0in; margin-top: 0px;">
                    <li style="margin: 0in 0in 0in 0px; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Rich text field. Bullets, inline links, and paragraphs allowed.&nbsp;</span></li>
                    <li style="margin: 0in 0in 0in 0px; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">H2, H3, H4 headings allowed</span></li>
                    <li style="margin: 0in 0in 0in 0px; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Images Allowed</span>
                        <ul style="list-style-type: circle; margin-top: 0in; margin-bottom: 0in;">
                            <li style="margin: 0in 0in 0in 0px; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Alt text required for images. Images display at native size, so size your images appropriately.&nbsp;</span></li>
                        </ul>
                    </li>
                    <li style="margin: 0in 0in 0in 0px; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Horizontal Rules Allowed</span></li>
                </ul>
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Panel CTA (optional, use 0 or more times).&nbsp;</span></p>
                <ul style="margin-bottom: 0in; margin-top: 0px;">
                    <li style="margin: 0in 0in 0in 0px; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Text link only. Label required. Character limit is 30.</span></li>
                    <li style="margin: 0in 0in 0in 0px; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Insert the CTA as a separate content block within an accordion panel.&nbsp;</span></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Accordion 1</span></em></p>
            </td>
        </tr>
        <tr style="height: 54.6pt;">
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Headline]&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Sub-head]&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Body]</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[CTA]</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>&nbsp;</em></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Link]</strong></p>
            </td>
        </tr>
        <tr style="height: 12.75pt;">
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Image</span></em></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
            </td>
        </tr>
        <tr style="height: 89.7pt;">
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Source:</span></em><span style="color: gray;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Digital team to deliver&nbsp;</span></em><span style="color: gray;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Alt text:</span></em><em><span style="color: #44546a;">&nbsp;</span></em><span style="color: #44546a;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: #44546a;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: gray;">&nbsp;</span></p>
            </td>
        </tr>
        <tr style="height: 26.7pt;">
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Accordion 2</span></em></p>
            </td>
        </tr>
        <tr style="height: 26.7pt;">
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Headline]&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Sub-head]&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Body]</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[CTA]</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>&nbsp;</em></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Link]</strong></p>
            </td>
        </tr>
        <tr style="height: 26.7pt;">
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Image</span></em></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">&nbsp;</span></em></p>
            </td>
        </tr>
        <tr style="height: 26.7pt;">
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Source:</span></em><span style="color: gray;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Digital team to deliver&nbsp;</span></em><span style="color: gray;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Alt text:</span></em><em><span style="color: #44546a;">&nbsp;</span></em><span style="color: #44546a;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: #44546a;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: gray;">&nbsp;</span></p>
            </td>
        </tr>
        <tr style="height: 26.7pt;">
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Accordion 3</span></em></p>
            </td>
        </tr>
        <tr style="height: 26.7pt;">
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Headline]&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Sub-head]&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Body]</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[CTA]</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>&nbsp;</em></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Link]</strong></p>
            </td>
        </tr>
        <tr style="height: 26.7pt;">
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Image</span></em></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">&nbsp;</span></em></p>
            </td>
        </tr>
        <tr style="height: 26.7pt;">
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Source:</span></em><span style="color: gray;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Digital team to deliver&nbsp;</span></em><span style="color: gray;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Alt text:</span></em><em><span style="color: #44546a;">&nbsp;</span></em><span style="color: #44546a;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: #44546a;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: gray;">&nbsp;</span></p>
            </td>
        </tr>
    </tbody>
</table>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>