<p style="margin: 0in 0in 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<table class="MsoNormalTable" style="width: 467.2pt; border-collapse: collapse; height: 276px;" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 18px;">
<td style="width: 620px; border: 1pt solid black; background: #e7e6e6; padding: 0in; height: 18px;" colspan="2" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i>Component name: <span style="color: black;">Hero Full</span></i></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 620px; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; background: #e7e6e6; padding: 0in; height: 18px;" colspan="2" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="color: black;">Theme: </span></i></p>
</td>
</tr>
<tr style="height: 60px;">
<td style="width: 620px; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; background: #e7e6e6; padding: 0in; height: 60px;" colspan="2" valign="top">
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="color: black;">Guidelines: </span></i></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Headline (required)- Character limit is 45</span></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Description&nbsp;(required)- Character limit is 200</span></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">CTA Button (optional)- 0-2 CTAs; Character limit is 30</span></p>
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 427px; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; background: #e7e6e6; padding: 0in; height: 18px;" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="color: black;">Heading/Copy/Call to Action</span></i><span style="color: black;">&nbsp;</span></p>
</td>
<td style="width: 192px; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; background: #e7e6e6; padding: 0in; height: 18px;" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="color: black;">Image or Video</span></i><span style="color: black;">&nbsp;</span></p>
</td>
</tr>
<tr style="height: 108.6pt;">
<td style="width: 427px; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0in; height: 162px;" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Headline]&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Description]</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[CTA]</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Link]</b></p>
</td>
<td style="width: 192px; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0in; height: 162px;" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="color: gray;">Source:</span></i><span style="color: gray;">&nbsp;</span></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="color: gray;">Digital team to deliver&nbsp;</span></i><span style="color: gray;">&nbsp;</span></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="color: gray;">Alt text:</span></i><i><span style="color: #44546a;">&nbsp;</span></i><span style="color: #44546a;">&nbsp;</span></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: gray;">&nbsp;</span></p>
</td>
</tr>
</tbody>
</table>