<p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><br></p>
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width: 473.2pt; margin-left: -.15pt; border-collapse: collapse;">
    <tbody>
        <tr style="height: 16.55pt;">
            <td colspan="3" style="width: 473.2pt; border: solid windowtext 1.0pt; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Component <span style="color: black;">name: Image with 3 Tabs &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Images (left or right):</span></em></p>
            </td>
        </tr>
        <tr style="height: 16.55pt;">
            <td colspan="3" style="width: 473.2pt; border: solid windowtext 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Theme:</span></em></p>
            </td>
        </tr>
        <tr style="height: 16.55pt;">
            <td colspan="3" style="width: 473.2pt; border: solid windowtext 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Guidelines:&nbsp;</span></em></p>
                <p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Tab Labels (required)- Exactly three tabs must be used; Character limit for tab labels is 15.</span></p>
                <p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Headline (required)- Character limit is 60</span></p>
                <p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Body&nbsp;(required)- Character limit is 100; Bullets, inline links, and paragraphs allowed.</span></p>
                <p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">CTA (optional)- Choose <strong>one</strong> of the following:</span></p>
                <p style="margin: 0in 0in 0in 0.5in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">CTA Link</span></p>
                <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                    <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                        <li style="margin-bottom: 0in; text-align: justify; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Text link only.</span></li>
                        <li style="margin-bottom: 0in; text-align: justify; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Character limit is 30.</span></li>
                    </ul>
                </ul>
                <p style="margin: 0in 0in 0in 0.5in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">CTA Button</span></p>
                <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                    <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                        <li style="margin-bottom: 0in; text-align: justify; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">A single button.</span></li>
                        <li style="margin-bottom: 0in; text-align: justify; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Character limit is 25.</span></li>
                    </ul>
                </ul>
                <p style="margin: 0in 0in 0in 0.5in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Link List</span></p>
                <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                    <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                        <li style="margin-bottom: 0in; text-align: justify; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">2-3 Links.</span></li>
                        <li style="margin-bottom: 0in; text-align: justify; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Character limit is&nbsp;30&nbsp;per link.</span></li>
                        <li style="margin-bottom: 0in; text-align: justify; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">If only one link, switch to using CTA Link.</span></li>
                    </ul>
                </ul>
            </td>
        </tr>
        <tr style="height: 16.55pt;">
            <td colspan="3" style="width: 473.2pt; border: solid windowtext 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Heading/Copy/Call to Action</span></em></p>
            </td>
        </tr>
        <tr style="height: 16.55pt;">
            <td style="width: 151.45pt; border: solid windowtext 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Tab 1</span></em></p>
            </td>
            <td style="width: 157.85pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Tab 2</span></em></p>
            </td>
            <td style="width: 163.9pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Tab 3</span></em></p>
            </td>
        </tr>
        <tr style="height: 34.45pt;">
            <td style="width: 151.45pt; border: solid windowtext 1.0pt; border-top: none; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Tab title]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Headline]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Body]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[CTA]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Link]</strong></p>
            </td>
            <td style="width: 157.85pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Tab title]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Headline]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Body]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[CTA]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Link]</strong></p>
            </td>
            <td style="width: 163.9pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Tab title]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Headline]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Body]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[CTA]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Link]</strong></p>
            </td>
        </tr>
        <tr style="height: 16.55pt;">
            <td colspan="3" style="width: 473.2pt; border: solid windowtext 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Image</span></em></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">[NOTE: the image does <strong>not&nbsp;</strong>change per tab]</span></p>
            </td>
        </tr>
        <tr style="height: 80.25pt;">
            <td colspan="3" style="width: 473.2pt; border: solid windowtext 1.0pt; border-top: none; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Source:</span></em><span style="color: gray;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Digital team to deliver&nbsp;</span></em><span style="color: gray;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Alt text:</span></em><em><span style="color: #44546a;">&nbsp;</span></em><span style="color: #44546a;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: #44546a;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: gray;">&nbsp;</span></p>
            </td>
        </tr>
    </tbody>
</table>
<p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>