<p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><br></p>
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width: 702px; border-collapse: collapse; height: 387px;">
    <tbody>
        <tr style="height: 12.45pt;">
            <td colspan="6" style="border: 1pt solid windowtext; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px; width: 700px;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Component <span style="color: black;">name: Logo band &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></em></p>
            </td>
        </tr>
        <tr style="height: 12.45pt;">
            <td colspan="6" style="border-color: currentcolor windowtext windowtext; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: initial; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 106px; width: 700px;" valign="top">
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Guidelines:&nbsp;</span></em></p>
                <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                    <li>Logo image (required)&nbsp;</li>
                    <li>Alt text (required). Always contains organization name.&nbsp;</li>
                    <li>URL (optional).<ul style="list-style-type: disc;">
                            <li>Default is not to link.</li>
                            <li>Link all tiles or link none.</li>
                            <li>Link internally (netapp.com, preferred) or externally (e.g. to partner site).&nbsp;</li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
        <tr style="height: 12.45pt;">
            <td style="width: 102px; border-color: currentcolor windowtext windowtext; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: initial; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Org 1</span></em></p>
            </td>
            <td style="width: 112px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Org 2</span></em></p>
            </td>
            <td style="width: 127px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Org 3</span></em></p>
            </td>
            <td style="width: 118px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Org 4</span></em></p>
            </td>
            <td style="width: 118px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Org 5</span></em></p>
            </td>
            <td style="width: 118px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Org 6</span></em></p>
            </td>
        </tr>
        <tr style="height: 25.9pt;">
            <td style="width: 102px; border-color: currentcolor windowtext windowtext; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: initial; padding: 0in; height: 158px;" valign="top">
                <p><em>[organization name]</em></p>
                <p><em>[URL, optional]</em></p>
            </td>
            <td style="width: 112px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 158px;" valign="top">
                <p><em>[organization name]</em></p>
                <p><em>[URL, optional]</em></p>
            </td>
            <td style="width: 127px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 158px;" valign="top">
                <p><em>[organization name]</em></p>
                <p><em>[URL, optional]</em></p>
            </td>
            <td style="width: 118px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 158px;" valign="top">
                <p><em>[organization name]</em></p>
                <p><em>[URL, optional]</em></p>
            </td>
            <td style="width: 118px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 158px;" valign="top">
                <p><em>[organization name]</em></p>
                <p><em>[URL, optional]</em></p>
            </td>
            <td style="width: 118px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 158px;" valign="top">
                <p><em>[organization name]</em></p>
                <p><em>[URL, optional]</em></p>
            </td>
        </tr>
        <tr style="height: 12.45pt;">
            <td style="width: 102px; border-color: currentcolor windowtext windowtext; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: initial; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Logo 1</span></em></p>
            </td>
            <td style="width: 112px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Logo 2</span></em></p>
            </td>
            <td style="width: 127px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Logo 3</span></em></p>
            </td>
            <td style="width: 118px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Logo 4</span></em></p>
            </td>
            <td style="width: 118px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px;">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">&nbsp;Logo 5</span></em></p>
            </td>
            <td style="width: 118px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px;">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">&nbsp;Logo 5</span></em></p>
            </td>
        </tr>
        <tr style="height: 72px;">
            <td style="width: 102px; border-color: currentcolor windowtext windowtext; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: initial; padding: 0in; height: 72px;"><em>[image source: digital team to deliver]</em></td>
            <td style="width: 112px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 72px;"><em>[image source: digital team to deliver]</em></td>
            <td style="width: 127px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 72px;"><em>[image source: digital team to deliver]</em></td>
            <td style="width: 118px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 72px;"><em>[image source: digital team to deliver]</em></td>
            <td style="width: 118px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 72px;"><em>[image source: digital team to deliver]</em></td>
            <td style="width: 118px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 72px;"><em>[image source: digital team to deliver]</em></td>
        </tr>
    </tbody>
</table>
<p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>