<p><br></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="text-decoration: underline;"><strong>Template Block</strong></span></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">You can copy and paste the table into your template directly from netapp.com page, it should format correctly and you can then have a SME edit the table within the NewsCred content editor</p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>Use When</strong></p>
<ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
    <li style="margin-top: 0in; margin-right: 0in; margin-bottom: 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Helping to compare features for a range of similar products.</li>
</ul>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>Do not Use When</strong></p>
<ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
    <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Presenting a general overview of all products. Consider the <a href="https://confluence.ngage.netapp.com/display/DIGITAL/Showcase+Product" style="color: blue; text-decoration: underline;">Showcase Product</a>.&nbsp;</li>
    <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Navigation to several products. Consider <a href="https://confluence.ngage.netapp.com/display/DIGITAL/Image+with+Tiles" style="color: blue; text-decoration: underline;">Image with Tiles</a> or <a href="https://confluence.ngage.netapp.com/display/DIGITAL/Tabbed+Band+Tiles" style="color: blue; text-decoration: underline;">Tabbed Band Tiles</a>.&nbsp;</li>
    <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Displaying a simple table. Consider <a href="https://confluence.ngage.netapp.com/display/DIGITAL/RTE+Table+-+REQUIREMENTS" style="color: blue; text-decoration: underline;">RTE - Table</a>.&nbsp;</li>
</ul>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>