<p><br></p>
<div>
    <table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width: 620px; border-collapse: collapse; height: 383px;">
        <tbody>
            <tr style="height: 15px;">
                <td style="width: 618px; border: 1pt solid black; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 15px;" valign="top">
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Component name: <span style="color: black;">Prose Block Quote</span></em></p>
                </td>
            </tr>
            <tr style="height: 188px;">
                <td style="width: 618px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 188px;" valign="top">
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Guidelines:&nbsp;</span></em></p>
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Body (required)- Character limit 200.</span></p>
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Attribution (optional)- Character limit is 60.</span></p>
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">CTA (optional)- Choose <strong>one</strong> of the following:</span></p>
                    <p style="margin: 0in 0in 0in 0.5in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">CTA Link</span></p>
                    <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                        <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                            <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">0-1 links, inline.</span></li>
                            <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Character limit is 45. Keep it as short as possible.&nbsp;</span></li>
                        </ul>
                    </ul>
                    <p style="margin: 0in 0in 0in 0.5in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">CTA Button</span></p>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                                <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">0-2 Buttons, inline.</span></li>
                                <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Character limit is 25.</span></li>
                                <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">If two buttons, character limit is 10 per button.</span></li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td style="width: 618px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 30px;" valign="top">
                    <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Content</span></em></p>
                </td>
            </tr>
            <tr style="height: 54.6pt;">
                <td style="width: 618px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 150px;" valign="top">
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[theme color]</strong></p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Body]</strong></p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Attribution]</strong></p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[CTA]</strong></p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>&nbsp;</em></p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Link]</strong></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
</div>
<h1 id="Prose-UseWhen"><br></h1>