<h4 id="ProseInlineMediaPlayer-ProseInlineMediaPlayerispartofacollectionofcomponentswhichmustbeusedinsidea,whichprovideslayoutviaaspecialgrid.">
    <table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width: 616px; border-collapse: collapse; height: 169px;">
        <tbody>
            <tr style="height: 15px;">
                <td style="width: 322px; border: 1pt solid black; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 15px;" valign="top">
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Component name: Prose Inline Media Player</em></p>
                </td>
                <td style="width: 291px; border: 1pt solid black; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in;">
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>&nbsp;</em></p>
                </td>
            </tr>
            <tr style="height: 188px;">
                <td style="width: 322px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 28px;" valign="top">
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Guidelines:&nbsp;</span></em></p>
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Image (required)</p>
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Alt Text (required)</p>
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Media Object (optional)</p>
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Caption (optional) - Character limit is 500.</span></p>
                </td>
                <td style="width: 291px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in;">
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">&nbsp;</span></em></p>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td style="width: 322px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 30px;" valign="top">
                    <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Image</span></em></p>
                </td>
                <td style="width: 291px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in;">
                    <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Caption</span></em></p>
                </td>
            </tr>
            <tr style="height: 54.6pt;">
                <td style="width: 322px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 96px;" valign="top">
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Image Source]</strong></p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">Source:Digital team to deliver</p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Alt text]</strong></p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Media Object - provide one of: BrightCove VideoID, Bynder PDF URL, or Large Image Source)</strong></p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
                </td>
                <td style="width: 291px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in;">
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Caption]</strong></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
</h4>