<h4 id="ProseFullWidthIllustration-ProseFull-WidthIllustrationispartofacollectionofcomponentswhichmustbeusedinsidea,whichprovideslayoutviaaspecialgrid."><br></h4>
<div>
    <table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width: 614px; border-collapse: collapse; height: 160px;">
        <tbody>
            <tr style="height: 15px;">
                <td style="width: 305px; border: 1pt solid black; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 15px;" valign="top">
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Component name: Prose Full-Width Illustration</em></p>
                </td>
                <td style="width: 306px; border: 1pt solid black; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in;">
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>&nbsp;</em></p>
                </td>
            </tr>
            <tr style="height: 188px;">
                <td style="width: 305px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 10px;" valign="top">
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Guidelines:&nbsp;</span></em></p>
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Image (required)</p>
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Alt Text (required)</p>
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Brightcove VideoID (optional)</p>
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Caption (optional) - Character limit is 500.</span></p>
                </td>
                <td style="width: 306px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in;">
                    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">&nbsp;</span></em></p>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td style="width: 305px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 30px;" valign="top">
                    <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Image</span></em></p>
                </td>
                <td style="width: 306px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in;">
                    <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Caption</span></em></p>
                </td>
            </tr>
            <tr style="height: 54.6pt;">
                <td style="width: 305px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 105px;" valign="top">
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Image]</strong></p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;Source:Digital team to deliver<br><strong>[Alt text]</strong></p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>if linking to a video in a modal:&nbsp;</em></p>
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Brightcove VideoID]</strong></p>
                </td>
                <td style="width: 306px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in;">
                    <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Caption]</strong></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
</div>