<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><br></p>
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width: 475.25pt; border-collapse: collapse;">
    <tbody>
        <tr style="height: 12.45pt;">
            <td colspan="4" style="width: 475.25pt; border: solid windowtext 1.0pt; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Component <span style="color: black;">name: Quote band &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Images (left or right):&nbsp;</span></em></p>
            </td>
        </tr>
        <tr style="height: 12.45pt;">
            <td colspan="4" style="width: 475.25pt; border: solid windowtext 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Theme:</span></em></p>
            </td>
        </tr>
        <tr style="height: 12.45pt;">
            <td colspan="4" style="width: 475.25pt; border: solid windowtext 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Guidelines:&nbsp;</span></em></p>
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Body&nbsp;(required)- Character limit is 200</span></p>
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Attribution (required)- Character limit is 60.</span></p>
                <p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">CTA (required)- Choose <strong>one</strong> of the following:</span></p>
                <p style="margin: 0in 0in 0in 0.5in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">CTA Link</span></p>
                <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                    <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                        <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Text link only.</span></li>
                        <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Character limit is 30.</span></li>
                    </ul>
                </ul>
                <p style="margin: 0in 0in 0in 0.5in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">CTA Button</span></p>
                <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                    <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                        <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">0-2 Buttons.</span></li>
                        <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">If two buttons, character limit is 10 per button.</span></li>
                        <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Character limit is 25.</span></li>
                    </ul>
                </ul>
            </td>
        </tr>
        <tr style="height: 12.45pt;">
            <td colspan="4" style="width: 475.25pt; border: solid windowtext 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Heading/Copy/Call to Action</span></em></p>
            </td>
        </tr>
        <tr style="height: 12.45pt;">
            <td style="width: 112.25pt; border: solid windowtext 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Tab 1</span></em></p>
            </td>
            <td style="width: 117.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Tab 2</span></em></p>
            </td>
            <td style="width: 121.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Tab 3</span></em></p>
            </td>
            <td style="width: 124.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Tab 4</span></em></p>
            </td>
        </tr>
        <tr style="height: 25.9pt;">
            <td style="width: 112.25pt; border: solid windowtext 1.0pt; border-top: none; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Tab title]</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Headline]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Body]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[CTA]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Link]</strong></p>
            </td>
            <td style="width: 117.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Tab title]</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Headline]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Body]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[CTA]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Link]</strong></p>
            </td>
            <td style="width: 121.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Tab title]</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Headline]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Body]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[CTA]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Link]</strong></p>
            </td>
            <td style="width: 124.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Tab title]</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Headline]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[Body]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">&nbsp;</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif;">[CTA]</span></strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="font-size: 9.0pt; font-family: 'Segoe UI', sans-serif; color: gray;">&nbsp;</span></em></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Link]</strong></p>
            </td>
        </tr>
        <tr style="height: 12.45pt;">
            <td style="width: 112.25pt; border: solid windowtext 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Image</span></em></p>
            </td>
            <td style="width: 117.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Image</span></em></p>
            </td>
            <td style="width: 121.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Image</span></em></p>
            </td>
            <td style="width: 124.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Image</span></em></p>
            </td>
        </tr>
        <tr style="height: 90.25pt;">
            <td style="width: 112.25pt; border: solid windowtext 1.0pt; border-top: none; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Source:</span></em><span style="color: gray;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Digital team to deliver&nbsp;</span></em><span style="color: gray;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Alt text:</span></em><em><span style="color: #44546a;">&nbsp;</span></em><span style="color: #44546a;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: #44546a;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: gray;">&nbsp;</span></p>
            </td>
            <td style="width: 117.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Source:</span></em><span style="color: gray;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Digital team to deliver&nbsp;</span></em><span style="color: gray;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Alt text:</span></em><em><span style="color: #44546a;">&nbsp;</span></em><span style="color: #44546a;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: gray;">&nbsp;</span></p>
            </td>
            <td style="width: 121.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Source:</span></em><span style="color: gray;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Digital team to deliver&nbsp;</span></em><span style="color: gray;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Alt text:</span></em><em><span style="color: #44546a;">&nbsp;</span></em><span style="color: #44546a;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: gray;">&nbsp;</span></p>
            </td>
            <td style="width: 124.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Source:</span></em><span style="color: gray;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Digital team to deliver&nbsp;</span></em><span style="color: gray;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: gray;">Alt text:</span></em><em><span style="color: #44546a;">&nbsp;</span></em><span style="color: #44546a;">&nbsp;</span></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: gray;">&nbsp;</span></p>
            </td>
        </tr>
    </tbody>
</table>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>