<p>&nbsp;</p>
<table class="MsoNormalTable" style="width: 640px; border-collapse: collapse; height: 129px;" cellspacing="0" cellpadding="0" border="1">
<tbody>
<tr style="height: 7.5pt;">
<td style="width: 638px; border: 1pt solid black; background: #e7e6e6; padding: 0in; height: 31px;" colspan="2" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i>Component name: <span style="color: black;">SEO</span></i></p>
</td>
</tr>
<tr style="height: 20.6pt;">
<td style="width: 142px; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; background: #e7e6e6; padding: 0in; height: 22px;" valign="top">
<p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i>Breadcrumb</i></span></p>
</td>
<td style="width: 495px; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0in; height: 22px;" valign="top">
<p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="color: black;">&nbsp;</span></i></p>
</td>
</tr>
<tr style="height: 53px;">
<td style="width: 142px; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; background: #e7e6e6; padding: 0in; height: 53px;">
<p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i>Target Keywords</i></span></p>
</td>
<td style="width: 495px; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0in; height: 53px;">
<p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">&nbsp;</span></em></p>
</td>
</tr>
<tr style="height: 17.0pt;">
<td style="width: 142px; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; background: #e7e6e6; padding: 0in; height: 23px;" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="color: black;">URL</span></i></p>
</td>
<td style="width: 495px; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0in; height: 23px;" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="color: black;">&nbsp;</span></i></p>
</td>
</tr>
</tbody>
</table>