<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><br></p>
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width: 618px; border-collapse: collapse; height: 423px;">
    <tbody>
        <tr style="height: 16px;">
            <td colspan="2" style="width: 614.667px; border: 1pt solid black; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 10px;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Component name: Side X Side &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</em><em>Image (left or right):</em></p>
            </td>
        </tr>
        <tr style="height: 16px;">
            <td colspan="2" style="width: 614.667px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 18px;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Theme:&nbsp;</em></p>
            </td>
        </tr>
        <tr style="height: 235px;">
            <td colspan="2" style="width: 614.667px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 235px;" valign="top">
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Guidelines:&nbsp;</em></p>
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Headline (required)- Character limit 60; Must be key term relevant; If used as a hero, set the headline as an H1-level heading</p>
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Body&nbsp;(required)- Character limit is 200</p>
                <p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">CTA (required)- Choose <strong>one</strong> of the following:</p>
                <p style="margin: 0in 0in 0in 0.5in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">CTA Link</p>
                <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                    <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                        <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">0-2 links, inline. 1 link preferred.</li>
                        <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Character limit is 45. Keep it as short as possible.&nbsp;</li>
                    </ul>
                </ul>
                <p style="margin: 0in 0in 0in 0.5in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">CTA Button</p>
                <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                    <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                        <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">0-2 Buttons, inline.</li>
                        <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Character limit is 25.&nbsp;If two buttons, character limit is 10 per button.</li>
                    </ul>
                </ul>
                <p style="margin: 0in 0in 0in 0.5in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Link List</p>
                <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                    <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                        <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">2-3 Links.</li>
                        <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Character limit is&nbsp;30&nbsp;per link.</li>
                        <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">If only one link, switch to using CTA Link.</li>
                    </ul>
                </ul>
            </td>
        </tr>
        <tr style="height: 16px;">
            <td style="width: 424px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 16px;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Heading/Copy/Call to Action</em>&nbsp;</p>
            </td>
            <td style="width: 189.333px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 16px;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Image or Video</em>&nbsp;</p>
            </td>
        </tr>
        <tr style="height: 108.6pt;">
            <td style="width: 424px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0in; height: 144px;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Headline]&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Body]</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[CTA]</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Link]</strong></p>
            </td>
            <td style="width: 189.333px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 144px;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Source:</em>&nbsp;</p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Digital team to deliver&nbsp;</em>&nbsp;</p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Alt text:</em><em>&nbsp;</em>&nbsp;</p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
            </td>
        </tr>
    </tbody>
</table>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>