<p><br></p>
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width: 876px; border-collapse: collapse; height: 314px;">
    <tbody>
        <tr style="height: 12.45pt;">
            <td colspan="4" style="border: 1pt solid windowtext; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 15px; width: 873.333px;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Component <span style="color: black;">name: Stat band &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></em></p>
            </td>
        </tr>
        <tr style="height: 12.45pt;">
            <td colspan="4" style="border-color: currentcolor windowtext windowtext; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: initial; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 106px; width: 873.333px;" valign="top">
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Guidelines:&nbsp;</span></em></p>
                <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                    <li>Headline (required)<ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                            <li>Character limit is 60.</li>
                            <li>Plain text</li>
                            <li>Acts as a heading for the component. Expecting one word (such as &quot;Results&quot;) or a short phrase (such as &quot;Impact that you can see even on the biggest of clouds&quot;)</li>
                        </ul>
                    </li>
                    <li><em><strong>Choose</strong></em> 1, 2, or 3 stat blocks. Layout is automatic.&nbsp;</li>
                    <li><em><strong>Choose</strong></em> <span style="text-decoration: underline;">small</span>, <span style="text-decoration: underline;">large</span>, or <span style="text-decoration: underline;">mixed</span> stat blocks. It is okay to mix and match block types to fit your content. Details below.</li>
                </ul>
            </td>
        </tr>
        <tr style="height: 18px;">
            <td colspan="4" style="width: 873.333px; border-color: currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #ffffff; padding: 0in; height: 18px;">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">[Headline]&nbsp;</span></em></p>
            </td>
        </tr>
        <tr style="height: 12.45pt;">
            <td style="width: 212px; border-color: currentcolor; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: initial; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Headline (required)</span></em></p>
            </td>
            <td style="width: 214px; border-color: currentcolor; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: initial; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px;">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Stat Block 1 (required)</span></em></p>
            </td>
            <td style="width: 224.667px; border-color: currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Stat Block 2 (optional)</span></em></p>
            </td>
            <td style="width: 218.667px; border-color: currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Stat Block 3 (optional)</span></em></p>
            </td>
        </tr>
        <tr style="height: 25.9pt;">
            <td style="width: 212px; border-color: currentcolor; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: initial; padding: 0in; height: 158px;" valign="top">
                <p><em>[Headline]</em></p>
            </td>
            <td style="width: 214px; border-color: currentcolor; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: initial; padding: 0in; height: 158px;">
                <p><span style="font-size: 18px;"><em>[Number]</em></span></p>
                <p><em>[Metric]</em></p>
                <p><em>--or--</em></p>
                <p><em>[Text]</em></p>
            </td>
            <td style="width: 224.667px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 158px;" valign="top">
                <p><span style="font-size: 18px;"><em>[Number]</em></span></p>
                <p><em>[Metric]</em></p>
                <p><em>--or--</em></p>
                <p><em>[Text]</em></p>
            </td>
            <td style="width: 218.667px; border-color: currentcolor windowtext windowtext currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 158px;" valign="top">
                <p><span style="font-size: 18px;"><em>[Number]</em></span></p>
                <p><em>[Metric]</em></p>
                <p><em>--or--</em></p>
                <p><em>[Text]</em></p>
            </td>
        </tr>
    </tbody>
</table>
<p><br></p>