<p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width: 467.2pt; border-collapse: collapse;">
    <tbody>
        <tr>
            <td style="width: 467.2pt; border: solid black 1.0pt; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><a href="https://www.netapp.com/company/trust-center/compliance/iso-27001/"><em>Component name: <span style="color: black;">Title</span></em></a></p>
            </td>
        </tr>
        <tr>
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><a href="https://www.netapp.com/company/trust-center/compliance/iso-27001/"><em><span style="color: black;">Theme:</span></em></a></p>
            </td>
        </tr>
        <tr>
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><a href="https://www.netapp.com/company/trust-center/compliance/iso-27001/"><em><span style="color: black;">Guidelines:&nbsp;</span></em></a></p>
                <p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><a href="https://www.netapp.com/company/trust-center/compliance/iso-27001/"><span style="color: black;">Title (required); Character limit 45.</span></a></p>
            </td>
        </tr>
        <tr style="height: 27.6pt;">
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Headline]</strong></p>
            </td>
        </tr>
        <tr style="height: 12.75pt;">
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><a href="https://www.netapp.com/company/trust-center/compliance/iso-27001/"><em><span style="color: black;">Image</span></em></a></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><a href="https://www.netapp.com/company/trust-center/compliance/iso-27001/"><strong>&nbsp;</strong></a></p>
            </td>
        </tr>
        <tr style="height: 26.7pt;">
            <td style="width: 467.2pt; border: solid black 1.0pt; border-top: none; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><a href="https://www.netapp.com/company/trust-center/compliance/iso-27001/"><em><span style="color: gray;">Source:</span></em><span style="color: gray;">&nbsp;</span></a></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><a href="https://www.netapp.com/company/trust-center/compliance/iso-27001/"><em><span style="color: gray;">Digital team to deliver&nbsp;</span></em><span style="color: gray;">&nbsp;</span></a></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><a href="https://www.netapp.com/company/trust-center/compliance/iso-27001/"><em><span style="color: gray;">Alt text:</span></em><em><span style="color: #44546a;">&nbsp;</span></em><span style="color: #44546a;">&nbsp;</span></a></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><a href="https://www.netapp.com/company/trust-center/compliance/iso-27001/"><span style="color: #44546a;">&nbsp;</span></a></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><a href="https://www.netapp.com/company/trust-center/compliance/iso-27001/"><span style="color: gray;">&nbsp;</span></a></p>
            </td>
        </tr>
    </tbody>
</table>
<p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
<p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><br></p>
<p style="margin: 0in; line-height: normal; background: white; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>